<div class="panel panel-default">
    <div class="row">
        <div class="panel-heading">
            <a href="#" class="list-group-item clearfix">
    <div class="pull-left">
        <h4 class="list-group-item-heading">Contacts</h4>
            </div>
            <div class="pull-right">
                <a class="pull-right btn btn-success" routerLink="new">New Contact</a>
            </div>
</a>
            <app-contact-item *ngFor="let contactItem of contacts" [contact]="contactItem" [dragEnabled]="true" [dragData]="contactItem" [dropZones]="['contactGroup']">
            </app-contact-item>
        </div>
    </div>
</div>