<div class="panel panel-default">
    <div class="row">
        <div class="panel-heading">
            <a href="#" class="list-group-item clearfix">
    <div class="pull-left">
        <h4 class="list-group-item-heading">Contacts</h4>
            </div>
            <div class="pull-right">
                <button class="btn btn-success">New Contact</button>
            </div>
</a>
            <app-contact-item
            *ngFor="let contact of contacts"
            [contact]="contact"
            (contactSelected)="onContactSelected(contact)"></app-contact-item>
        </div>
    </div>
</div>